<!DOCTYPE html>
<html>
  <head>
    <title>Willow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}&libraries=places" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <meta property="og:title" content="Willow" />
    <meta property="og:image" content="https://i.imgur.com/F7WttsY.jpg" />
    <meta
       property="og:url"
       content="https://willowapp.herokuapp.com/"
     />
    <meta
      name="description"
      content="A fullstack clone of the real-estate website Zillow using Ruby on Rails, React, Javascript, PostgresSQL, and Webpack."
    />

    <% if current_user %>
      <script>
        window.currentUser = { 
          "id": <%= current_user.id %>,
          "email": "<%= current_user.email %>"
          };
      </script>
    <% end %>
    <script> window.banner = "<%= image_url("banner.jpg") %>" </script>
    <script> window.listing_features = "<%= image_url("listing_features.png") %>" </script>
    <script> window.city = "<%= image_url("city.png") %>" </script>
    <script> window.park = "<%= image_url("park.png") %>" </script>
    <script> window.room = "<%= image_url("room.png") %>" </script>
    <script> window.profile = "<%= image_url("profile.jpg") %>" </script>
    <script> window.logo = "<%= image_url("logo.png") %>"</script>
    <script> window.houses = "<%= image_url("houses.jpg") %>"</script>
    <script> window.sell_page = "<%= image_url("sell_page.jpg") %>"</script>
  

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="<%= image_url('favicon.ico') %>" />
 
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
